<nav>
    <% if (curPage === "home") { %>
        <a class="cur" href="javascript:;">Home</a>
    <% } else { %>
        <a href="ejs_home.html">Home</a>
    <% } %>
    <% if (curPage === "info") { %>
        <a class="cur" href="javascript:;">Info</a>
    <% } else { %>
        <a href="ejs_info.html">Info</a>
    <% } %>
    <% if (curPage === "concat") { %>
        <a class="cur" href="javascript:;">Concat</a>
    <% } else { %>
        <a href="ejs_concat.html">Concat</a>
    <% } %>
</nav>