<!doctype html>
<html>
<head>
<meta charset="utf-8" />
</head>
<body>
    <div class="wrap">
        <% var curPage = "concat" %>
        <% include ./src/ejs/modules/nav.ejs %>
        <article class="">
            <h1>CONCAT</h1>
            <p>This is Page Concat</p>
        </article>
    </div>
</body>
</html>