<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../../dist/static/style/page.css" />
</head>
<body>
    <div class="wrap">
        <h1>Url Loader</h1>
        <section>
            <ul class="image-list">
                <li><img src="../assets/images/logo_123.png" data-src="../assets/images/logo_123.png" /></li>
                <li><img src="../assets/images/logo_aiqiyi.png" /></li>
                <li><img src="../assets/images/logo_letv.png" /></li>
                <li><img src="../assets/images/logo_xl.png" /></li>
            </ul>
        </section>
        <section>
            <dl>
                <dt>安装</dt>
                <dd>
                    <pre>npm install webpack <a href="https://github.com/webpack/url-loader" target="_blank">url-loader</a> <a href="https://github.com/webpack/html-loader" target="_blank">html-loader</a> --save-dev</pre>
                </dd>
            </dl>
        </section>
        <section>
            <dl>
                <dt>html模板引入图片</dt>
                <dd>
                    <pre>
&lt;img src="../assets/images/logo_123.png" /&gt;</pre>
                </dd>
            </dl>
        </section>
        <section>
            <dl>
                <dt>配置文件</dt>
                <dd>
                    <pre>
rules: [
      {
        test: /\.(png|jpg)$/,
        use: [
          {
            loader: 'url-loader',
            options: {
              name: 'static/images/[hash].[ext]',
              limit: 2048
            }
          }
        ]
      },
      {
        test: /\.html$/,
        use: [
          {
            // loader: 'html-loader?attrs[]=img:src&attrs[]=img:data-src'
            loader: 'html-loader',
            options: {
              attrs: [ 'img:src', 'img:data-src' ]
            }
          }
        ]
      }
    ]</pre>
                </dd>
            </dl>
        </section>
    </div>
</body>
</html>
